.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.8;
  width: 25px;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings__logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  margin: 30px;
}
