.alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px 25px 25px;
}

.alt-header:not(.chat-screen) {
  background-color: #fafafa;
}

.alt-header__title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column {
  width: 33vw;
}

.alt-header__column:first-child {
  text-align: left;
}

.alt-header__column:last-child {
  text-align: right;
}

.alt-header__column span {
  margin-left: 25px;
}
