.screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  background-color: #fafafa;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons {
  display: flex;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}

.screen-header__config {
  display: flex;
  position: relative;
}

.screen-header__new-setting {
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  position: absolute;
  left: 25px;
  bottom: 20px;
}
